# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Static files
/static/

# Media files
/media/

# Secret key
*.secret

# Environment variables
.env

# IDE-specific files
.vscode/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Ignore pipenv virtual environment
/.venv/
